fastapi
uvicorn[standard]

sqlalchemy

psycopg2-binary

alembic

pydantic

pydantic-settings

python-dotenv

loguru

passlib[bcrypt]

python-jose[cryptography]

python-multipart

MetaTrader5

numpy

pandas

scikit-learn

httpx

pytest

pytest-asyncio